{% extends 'base.html' %}

{% block title %} Run Scaner {% endblock %}

{% block content %}
    <head>
    <title>Run Scaner</title>
</head>
    <body>
     <h1>Run Scaner</h1>
    <form method="post" action="{% url 'run_scaner' %}">
        {% csrf_token %}
        <input type="submit" value="Run Scaner">
    </form>
    </body>



{% endblock %}