{% extends 'base.html' %}
<!-- templates/home.html -->


{% block title %}Home{% endblock %}


{% block content %}



   {% if user.is_authenticated %}

    Hi {{ user.username }}!
    <p><a href="{% url 'home_page' %} ">Log Out</a></p>
    <p><a href="{% url 'password_reset' %}">Reset Password</a></p>
{% else %}
<p>You are not logged in</p>


{% endif %}
{% endblock%}


