{% extends 'base.html' %}
{% block title %}Filters {% endblock %}

{% block content %}
    <form method="post">
        {% csrf_token %}
        <!-- Your existing form fields here -->
        <label for="Query:"></label>
        <input type="text" name="query" >
        <label for="">Category</label>
        <select name="category" id="">
            <option value="https://www.olx.ro/imobiliare/">Aoparatements</option>
            <option value="">Gars</option>
        </select>
        <button type="submit" class="btn btn-primary">Run Webscraper</button>
    </form>
    <form>
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="Search" name="search-query">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="submit">Search</button>
            </div>
        </div>
    </form>
    <br>
    <form method="GET">
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>

    {% if properties %}
        <h2>Filtered Properties:</h2>
        <ul>
            {% for property in properties %}
                <li>
                    <a href="{{ property.link }}">{{ property.title }}</a>
                </li>
                <!-- Display other fields as needed -->
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
